// colors
$cyan: hsl(171, 66%, 44%);
$lightBlue:hsl(233, 100%, 69%);

$blue: hsl(210, 10%, 33%);
$grayish:hsl(0, 0%, 92%);

// Grid

$grid-width:145rem;
$gutter-vertical:8rem;
$gutter-horizontal:6rem;

// Font

$default-font-size:1.6rem;
